
body{
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

.flex-container{
	display: flex;
}
@media (min-width: 200px) and (max-width: 534px) {
	body{
		font-family: 'Oswald', sans-serif;
		color: white;

	}
	.navbar{
		background-color: black;
		width: auto;
	}
	.menu.flex-container{
		justify-content: flex-start;
		flex-direction: column;
	}
	.menu ul{
		display: flex;
		flex-direction: column;	
	}
	.menu ul li:hover{
		background-color: grey;
	}
	#menux{
		font-size: 35px;
		text-decoration: none;
		color: white;
	}
	.menu ul li a{
		font-size: 20px;
		text-decoration: none;
		color: white;
	}
	.menu ul li a{
		border-bottom: 2px solid #6B6B6B;
		padding: 0;
		border-right: 0px solid rgba(0,0,0,0.0);
	}
	.menu .menu-ppal{
		cursor: pointer;
	}
	.hide{
		display: inline-block;
		font-size: 40px
	}
	.hidden {
		display: none;
	}
